<ion-header>
  <ion-toolbar>
    <ion-title>Ficha</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content class="ion-padding ion-text-center">
      <ion-button
        shape="round"
        color="primary"
        size="large"
        (click)="mostrarOpcionesFoto()"
        style="--border-radius: 50%; width: 80px; height: 80px; font-size: 24px"
      >
        📷
      </ion-button>

      <div *ngIf="foto" style="margin-top: 20px">
        <img
          [src]="foto"
          alt="Foto tomada"
          style="width: 150px; height: 150px; object-fit: cover"
        />
      </div>
    </ion-content>

<ion-content class="ion-padding">
  <form #fichaForm="ngForm">
    <ion-item>
      <ion-label position="floating">Rotura de cliente</ion-label>
      <ion-input
        type="text"
        name="roturaCliente"
        [(ngModel)]="ficha.roturaCliente"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Diagnóstico técnico</ion-label>
      <ion-input
        type="text"
        name="diagnosticoTecnico"
        [(ngModel)]="ficha.diagnosticoTecnico"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Presupuesto</ion-label>
      <ion-input
        type="number"
        name="presupuesto"
        [(ngModel)]="ficha.presupuesto"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha entrada</ion-label>
      <ion-input
        type="date"
        name="fechaEntrada"
        [(ngModel)]="ficha.fechaEntrada"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha salida</ion-label>
      <ion-input
        type="date"
        name="fechaSalida"
        [(ngModel)]="ficha.fechaSalida"
      ></ion-input>
    </ion-item>

    <ion-item *ngIf="!ficha.id">
      <ion-label position="floating">Cliente</ion-label>
      <ion-select
        [(ngModel)]="ficha.cliente"
        name="cliente"
        interface="popover"
        required
        [compareWith]="compareById"
      >
        <ion-select-option *ngFor="let cliente of clientes" [value]="cliente">
          {{ cliente.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!ficha.id">
      <ion-label position="floating">Técnico</ion-label>
      <ion-select
        [(ngModel)]="ficha.tecnicoApodo.apodo"
        name="tecnico"
        interface="popover"
        required
      >
        <ion-select-option
          *ngFor="let tecnico of tecnicos"
          [value]="tecnico.apodo"
        >
          {{ tecnico.apodo }}
        </ion-select-option>
      </ion-select>
    </ion-item>

   

    <ion-button
      expand="block"
      *ngIf="!ficha.id"
      (click)="guardarFicha()"
      [disabled]="!fichaForm.form.valid"
    >
      Guardar
    </ion-button>
    <ion-button
      expand="block"
      *ngIf="ficha.id"
      (click)="actualizarFicha()"
      [disabled]="!fichaForm.form.valid"
    >
      Actualizar
    </ion-button>
  </form>
</ion-content>
